[submodule "secrets"]
	path = secrets
	url = https://github.com/KeenGWatanabe/tf-secrets
[submodule "APP"]
	path = APP
	url = https://github.com/KeenGWatanabe/tf-secretsAPP
[submodule "backend"]
	path = backend
	url = https://github.com/KeenGWatanabe/tf-backend
[submodule "vpc"]
	path = vpc
	url = https://github.com/KeenGWatanabe/tf-vpc-nat-eip-ec2
[submodule "awsDeployWebsite"]
	path = awsDeployWebsite
	url = https://github.com/KeenGWatanabe/awsDeployWebsite
